---
import Layout from '@layouts/Layout.astro';
import sites from '@public/sites.json';
---

<Layout>
  <main>
    <div class="flex flex-col gap-2 pl-2 pt-2">
      <a class="text-white hover:underline" href="/">Back</a>
      {
        sites.map((s) => {
          return (
            <a class="text-white hover:underline" href={s.url}>{s.url}</a>
          )
        })
      }
    </div>
  </main>
</Layout>